.ipynb_checkpoints
__pycache__
.vscode
mlruns
slurm-logs
lightning_logs
wandb

*.pyc

notebooks/archive
notebooks/cache
notebooks/plots

.mypy_cache

# pytorchlightning
checkpoints

# data files
*.npz
*.beton
