# We use Python 3.9 (nvidia rapids needs 3.8 or 3.9)

# PyTorch 1.12
# 1.13 has a bug on supercloud:
#   https://discuss.pytorch.org/t/torch-cuda-device-count-is-0/168545/6
# We use CUDA 11.6 for supercloud support
--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.12.1+cu116
torchvision==0.13.1+cu116
torchaudio==0.12.1

# Jax
--find-links https://storage.googleapis.com/jax-releases/jax_releases.html
jax[cuda]

# Nvidia RAPIDS (for fast linear probes, knn, and umap)
# See https://rapids.ai/pip.html#install
--find-links https://developer.download.nvidia.com/compute/redist/cudf-cu11
--find-links https://developer.download.nvidia.com/compute/redist/dask-cudf-cu11
--find-links https://developer.download.nvidia.com/compute/redist/cuml-cu11
--find-links https://developer.download.nvidia.com/compute/redist/cugraph-cu11
cudf-cu11
dask-cudf-cu11
cuml-cu11
cugraph-cu11

# FFCV (not supported due to making everything hard)
# ffcv
# numba

# Huggingface
transformers
datasets[vision]

# Adversarial example things
torchattacks

# CLIP
ftfy
regex
git+https://github.com/openai/CLIP.git

# Other deep learning libraries
einops
mup
neural-tangents
pytorch-lightning
tensor-canvas
torchtyping

# Configuration parsing
simple-parsing

# ThunderSVM
/home/gridsan/groups/ccg/programs/thundersvm/python

# UMAP
umap-learn

# Other computational libraries
matplotlib
pandas
plotly

# Experiment management
wandb

# Utilities
black
flake8
gpustat
isort
ipywidgets==7.7.0 # https://github.com/microsoft/vscode-jupyter/issues/11014
jupyterlab
mypy
tqdm
mlxtend
