# Torch
--find-links https://download.pytorch.org/whl/cu113
torch==1.12.0; sys_platform != 'darwin'
torchvision==0.13.0; sys_platform != 'darwin'
torchaudio==0.12.0; sys_platform != 'darwin'

torch==1.12.0; sys_platform == 'darwin'
torchvision==0.13.0; sys_platform == 'darwin'
torchaudio==0.12.0; sys_platform == 'darwin'

# Jax
--find-links https://storage.googleapis.com/jax-releases/jax_releases.html
jax[cuda11_cudnn805]; sys_platform != 'darwin'
jax[cpu]; sys_platform == 'darwin'

# Ray
ray==1.13.0

# FFCV
ffcv
numba

# Adversarial example things
torchattacks

# Other deep learning libraries
einops
pytorch-lightning
torchtyping
neural-tangents
mup

# Configuration parsing
simple-parsing
dacite

# Other computational libraries
matplotlib
pandas

# Experiment management
wandb

# Utilities
black
flake8
gpustat
isort
ipywidgets
jupyterlab
mypy
tqdm
